$materialBlack: rgba(0,0,0,0.87);
$colorProblem: #ef6c00;
$colorSuccess: #2196f3;

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'fot-tsukuardgothic-std', sans-serif;
}

canvas {
  max-width: 100%;
}

.font-bold {
  font-weight: bold;
}

.display-none {
  display: none;
}

.relative {
  position: relative;
}

.border-0 {
  border: 0;
}

.footer-a-with-border-bottom {
  padding: 0px 4px 5px 0px;
  border-bottom: 2px solid $colorSuccess;
}

.padding-0 {
  padding: 0;
}

.box-shadow-0 {
  box-shadow: none;
}

.padding-top-bottom-10px {
  padding: 10px 0;
}

.padding-top-20px {
  padding-top: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-bottom-10px {
  margin: 10px 0;
}

.margin-top-30px {
  margin-top: 30px;
}

.text--material-black {
  color: $materialBlack;
}

.datepicker-table {
  td {
    text-align: center;
  }
}

.datepicker-footer {
  visibility: hidden;
}

.toast-pop {
  margin: 20px auto;
  width: 90%;
}

.toast-problem {
  background-color: $colorProblem;
}

.toast-success {
  background-color: $colorSuccess;
}

.card {
  .padding-side-little {
    padding: 24px 10px;

    .card-title {
      padding-left: 14px;
    }
  }
}

.modal {
  .padding-side-little {
    padding: 24px 10px;
  }
}

.collapsible-header--box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.fab,
.fas {
  margin-right: 7px;
}

#modal__modify-record {
  min-height: 60vh;
}

// .chart {
//   p {
//     position: absolute;
//     top: 45%;
//     left: 50%;
//     transform: translate(-50%, -55%);
//     font-size: 150%;
//     text-align: center;
//   }
//
//   .span--sub {
//     position: absolute;
//     top: 65%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-size: 100%;
//     text-align: center;
//   }
// }
