@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', 'Yu-Gothic', sans-serif;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.datepicker-table tbody td {
  text-align: center;
}

.datepicker-footer {
  visibility: hidden;
}
// 
// .chart-wrapper {
//   width: 95%;
//   margin: 0 auto;
// }
