// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  // font-family: 'Roboto', 'Yu-Gothic', sans-serif;
  font-family: fot-tsukuardgothic-std, sans-serif;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

canvas {
  max-width: 100%;
}

.input-field input {
  font-family: 'fot-tsukuardgothic-std', sans-serif;
}

.font-bold {
  font-weight: bold;
}

.display-none {
  display: none;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.margin-center {
  margin: 0 auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-bottom-10px {
  margin: 10px 0;
}

.margin-top-30px {
  margin-top: 30px;
}

.width-40percent {
  width: 40%;
}

.datepicker-table {
  td {
    text-align: center;
  }
}

.datepicker-footer {
  visibility: hidden;
}

.toast-pop {
  margin: 20px auto;
  width: 90%;
}

.toast-problem {
  background-color: #ef6c00;
}

.toast-success {
  background-color: #2196f3;
}

.card-content__half {
  width: 50%;
}

.card {
  .padding-side-little {
    padding: 24px 10px;
  }
}
// test below
