@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  font-family: "Roboto", "Yu-Gothic", sans-serif;
}

.hw100 {
  height: 100vh;
  width: 100vw;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.datepicker-table tbody td {
  text-align: center;
}
